[submodule "collabwrapper"]
	path = collabwrapper
	url = https://github.com/samdroid-apps/collabwrapper
[submodule "turtleblocksjs"]
	path = turtleblocksjs
	url = https://github.com/walterbender/turtleblocksjs.git
